body { padding-top:80px;font-family: 'Alegreya Sans', sans-serif; font-weight: 500; background: white !important; word-wrap:break-word;}
img  { border: 3px solid navy; padding: 25px; }
form { display: inline; } 