<!-- views/pages/profile.ejs -->
<!doctype html>
<html>
<head>
    <title><%=name %>'s Profile - <%=title %></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/stylecss.css">       
<script type="text/javascript" src="/javascripts/jsfile.js"></script>
<!--  <script type="text/javascript" src="/javascripts/ajax.js"></script>     -->
<!-- iconj.com favicon code -->
<link rel="shortcut icon" href="http://www.iconj.com/icon.php?pid=77nzl08q5u" type="image/x-icon" />
<link rel="shortcut icon" href="http://www.iconj.com/gif_icon.php?pid=77nzl08q5u" type="image/gif" /> 
<!-- end of iconj.com favicon code -->   
</head>
<body>
<div class="container">
        <div class="col-sm-11 col-sm-offset-1">
            <h1><span class="glyphicon glyphicon-user"></span> Profile Page</h1>
        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home </a>
        <a href="/books" class="btn btn-default"><span class="glyphicon glyphicon-book"></span> View All Books </a>
        <a href="/acSettings" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Update Accounts </a>  
        <a href="/mybooks" class="btn btn-default"><span class="glyphicon glyphicon-bookmark"></span> View My Books </a>        
        <a href="/logout" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-off"></span> Logout </a>  
        <br /> <br />
    </div>
    <div>
                  <hr />
         
         <hr />
         <h1>Welcome to the <%=title %>, <%=name %>.</h1>
         <hr />
         
    </div>
   
</div>
</div>
</body>
</html>